*{
  margin: 0;
  padding: 0;
  }
body {
  background: url("https://raw.githubusercontent.com/CodeBerrySchool/simple-quote-page/master/assets/freedom.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  position: fixed;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  max-width: calc(100vw - 20px);
  margin-top: 80px;
  text-align: center;
  font-family: Raleway sans-serif;
  }
.style {
  text-transform: uppercase;
  padding-bottom: 120px;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  
}
.author {
  font-style: italic;
}