*{
  margin: 0;
}
img {
  width: 100%;
  height: auto;  
}
body {
  background: url("https://raw.githubusercontent.com/CodeBerrySchool/simple-quote-page/master/assets/freedom.jpg") no repeat center center fixed;
  background-size: cover;
}
.container {
  position: fixed;
  text-align: center;
  font-family: Raleway sans-serif;
}
.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.style {
  text-transform: uppercase;
  padding-bottom: 150px;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  width: calc(100vw - 500px);
}
.author {
  margin-top: 80px;
  font-style: italic;
}