*{
  margin: 0;
  padding: 0;
  }
body {
  background: url("https://raw.githubusercontent.com/CodeBerrySchool/simple-quote-page/master/assets/freedom.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  position: fixed;
  font-size: 100%;
}
.container {
  position: relative;
  top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  max-width: calc(100vw - 5px);
  height: 30%;
  max-height: calc(100vw - 70px);
  text-align: center;
  font-family: Raleway sans-serif;
  }
.style {
  text-transform: uppercase;
  padding-bottom: 105px;
  font-size: 2em;
  line-height: 1.5;
  letter-spacing: 0.05em;
}
.author {
  font-style: italic;
  font-size: 1em;
}